
@if (Session["JWTToken"] != null)
{
    <ul class="nav navbar-nav">
        @if (Session["Type"] != null && Session["Type"].ToString() == "Customer")
        {
            <li>
                <a href="@Url.Action("Index", "ShoppingCart", new { area = "" })" class="nav-link">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="sr-only">Cart</span> <!-- For accessibility -->
                </a>
            </li>

        }
        <li>@Html.ActionLink("Welcome " + Session["Firstname"].ToString(), "UserProfile", "User", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Logout", "Logout", "User", new { area = "" }, new { @class = "nav-link" })</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Sign Up", "SignUp", "User", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Login", "Login", "User", new { area = "" }, new { @class = "nav-link" })</li>
    </ul>
}


