
    <div class="col-md-3">
        <div class="card border-0">
            <div class="card-body">
                <p>Hello, <strong>@Session["Firstname"].ToString() @Session["Lastname"].ToString()</strong></p>
                <span ><img height="20px" src="//laz-img-cdn.alicdn.com/tfs/TB1Yvbxh8HH8KJjy0FbXXcqlpXa-208-40.png" alt="Verified"></span>
                <hr>
                <ul class="nav flex-column">
                    <li class="nav-item">@Html.ActionLink("My Profile", "UserProfile", "User", new { area = "" }, new { @class = "nav-link" })</li>

                    @if (Session["Type"].ToString() == "Admin")
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Users", "Index", "User", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Create New User", "Create", "User", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Coupon", "Index", "Discount", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Category", "Create", "Categories", new { area = "" }, new { @class = "nav-link" })
                        </li>
                    }
                    else if (Session["Type"].ToString() == "Customer")
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Address Book", "Index", "Addresse", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("My Orders", "Index", "Order", new { area = "" }, new { @class = "nav-link" })
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Dashboard", "Sellerdashboard", "Product", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Product", "Index", "Product", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Orders", "SellerOrders", "Order", new { area = "" }, new { @class = "nav-link" })
                        </li>
                    }


                </ul>
            </div>
        </div>
    </div>
