@model Dealora.Models.ViewModel.CategoryViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Categories", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Category</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.NewCategory.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewCategory.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewCategory.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewCategory.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewCategory.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewCategory.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Upload Category Image", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="CategoryImage" class="form-control" />
                @Html.ValidationMessage("", "", new { @class = "text-danger" })
            </div>
        </div>

        <br>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <hr />
}

<div>
    <h2>Category Informations</h2>
    <hr />
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    </p>

    <table class="table table-hover table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categories.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories.FirstOrDefault().Description)
            </th>
            <th>Image</th>
        </tr>

        @foreach (var item in Model.Categories)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.CategoryImageUrl))
                    {
                        <img src="@item.CategoryImageUrl" alt="Category Image" style="max-width: 50px; max-height: 50px;" />
                    }
                    else
                    {
                        <span>No Image Available</span>
                    }
                </td>
            </tr>
        }
    </table>
</div>
