@model Dealora.Models.Product

@{
    ViewBag.Title = "Delete";
}

<script>
    setTimeout(() => {
        const box = document.getElementById('hide');
        box.style.display = 'none';
    }, 10000)
</script>

<h2>Delete Product</h2>

@*<h3>Are you sure you want to delete this?</h3>*@
<hr />

@if (TempData["msgAdd"] != null)
{
    <div id="hide" , class="alert alert-danger">
        <strong>Danger !! </strong> @TempData["msgAdd"]
    </div>
}
<div class="container">


    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Category.Name):</strong>
                    <p>@Html.DisplayFor(model => model.Category.Name)</p>
                </div>

                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.User.FirstName):</strong>
                    <p>@Html.DisplayFor(model => model.User.FirstName)</p>
                </div>

                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Name):</strong>
                    <p>@Html.DisplayFor(model => model.Name)</p>
                </div>

                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Description):</strong>
                    <p>@Html.DisplayFor(model => model.Description)</p>
                </div>

                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.Price):</strong>
                    <p>@Html.DisplayFor(model => model.Price)</p>
                </div>

                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.StockQuantity):</strong>
                    <p>@Html.DisplayFor(model => model.StockQuantity)</p>
                </div>

                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.ImageUrl):</strong>
                    <p>@Html.DisplayFor(model => model.ImageUrl)</p>
                </div>

                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.DateAdded):</strong>
                    <p>@Html.DisplayFor(model => model.DateAdded)</p>
                </div>

                <div class="col-md-6">
                    <strong>@Html.DisplayNameFor(model => model.IsActive):</strong>
                    <p>@Html.DisplayFor(model => model.IsActive)</p>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions mt-3">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a href="@Url.Action("Index", "Product")" class="btn btn-secondary">Cancel</a>
        </div>
    }
</div>
