@model Dealora.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.Category.Name):</strong>
            @Html.DisplayFor(model => model.Category.Name)
        </div>

        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.User.FirstName):</strong>
            @Html.DisplayFor(model => model.User.FirstName)
        </div>

        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.Name):</strong>
            @Html.DisplayFor(model => model.Name)
        </div>

        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.Description):</strong>
            @Html.DisplayFor(model => model.Description)
        </div>

        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.Price):</strong>
            @Html.DisplayFor(model => model.Price)
        </div>

        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.StockQuantity):</strong>
            @Html.DisplayFor(model => model.StockQuantity)
        </div>

        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.ImageUrl):</strong>
            @Html.DisplayFor(model => model.ImageUrl)
        </div>

        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.DateAdded):</strong>
            @Html.DisplayFor(model => model.DateAdded)
        </div>

        <div class="col-md-6">
            <strong>@Html.DisplayNameFor(model => model.IsActive):</strong>
            @Html.DisplayFor(model => model.IsActive)
        </div>
    </div>
</div>
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
</p>
